[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.3.5"
tqdm = "==4.62.3"
numpy = "==1.22.0"
pyarrow = "==6.0.1"
pandas-gbq = "==0.16.0"
smart-open = {version = "==5.2.1", extras = ["gcs"]}

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pandas-stubs = "*"
pytest-check = "==1.0.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
